# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Data and generated artifacts
datasets
data/
.cache/
# outputs/*
!outputs/.gitkeep
*.zip
*.tar.gz
*.pt
*.pth
*.ckpt

# W&B
wandb/

# OS / IDE
.DS_Store
.idea/
.vscode/
